@using ECommerceWebsite.Models;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Shopping Cart</h1>

<h4>Products</h4>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center"> </th>
                            <th scope="col" class="text-center">Product</th>
                            <th scope="col" class="text-center">Availability</th>
                            <th scope="col" class="text-center">Category</th>
                            <th scope="col" class="text-center">Unit</th>
                            <th scope="col" class="text-center">Discount</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-center">Price</th>
                            <th scope="col" class="text-center">Total Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Item product in ViewBag.ProductList)
                        {
                            <tr class="text-center">
                                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                <td class="text-center">@product.Product.Name</td>
                                @if (product.Product.Status == true)
                                {
                                    <td class="text-center">In Stock</td>
                                }
                                else
                                {
                                    <td class="text-center"><span style="color:red">Stock Out</span></td>
                                }

                                <td class="text-center">@product.Product.Category</td>
                                <td class="text-center">@product.Product.Unit</td>
                                <td class="text-center">@product.Product.Discount%</td>
                                <td class="text-center">@product.Quantity</td>
                                <td class="text-center">@product.Product.UnitPrice/-</td>
                                <td class="text-center">@(product.Product.UnitPrice * product.Quantity - product.Product.UnitPrice * product.Quantity * product.Product.Discount / 100)/-</td>
                                <td class="text-center"><a class="btn btn-sm btn-danger" href="@Url.Action("Remove", "Cart", new { id = product.Product.Id })">Delete </a> </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Sub-Total</b></td>
                            <td class="text-right">
                                @{
                                    List<Item> cart = ViewBag.ProductList;
                                    var total = cart.Sum(product => product.Product.UnitPrice * product.Quantity - product.Product.UnitPrice * product.Quantity * product.Product.Discount / 100);
                                }
                                @total/-
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="@Url.Action("OrderList", "Product")" class="btn btn-block btn-outline-secondary">Continue Shopping</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="@Url.Action("BuyProduct", "Product")" class="btn btn-success btn-block text-uppercase">Order Now</a>
                </div>
            </div>
        </div>
    </div>
</div>